[buildout]
develop = .
parts = test docs

[test]
recipe = zc.recipe.testrunner
eggs = collective.recipe.sphinxbuilder [tests]

[docs]
recipe = collective.recipe.sphinxbuilder
source = collective.recipe.sphinxbuilder:docs
eggs = collective.sphinx.includedoc

