/*
 Define here the css
 */
body {
 background: white;
 color: black;
}

div.sphinxsidebar {
 background-color: white;
 border-right: 1px solid #0089d9;
 padding-bottom: 10px;
}

h1, h2, h3, h4 {
  color: #0089d9; 
  background-color: #0089d9;
  padding: 4px;
}

div.related {
  background-color: white;
  color: #0089d9; 
}

div.related a, div.footer a {
  color: black;
}

div.footer {
  color: black;
  border-top: 1px solid #0089d9;
}

hr {
 width: 0px; 
}
div.section h1, div.section h2, div.section h3, div.section h4 {
 background-color: white;
 color: #0089d9;
 border-bottom: 1px solid #0089d9; 
}

div.body h1, div.body h2, div.body h3, div.body h4 {
 background-color: white;
 color: #0089d9;
}

div.document {
  background-color: white;
}

a, a:visited {
  color: black;
}

div.sphinxsidebar a {
   color: black;
}
div.sphinxsidebarwrapper {
  padding: 10px 0 0;
}
div.sphinxsidebar h3 {
  padding: 0.1em 0.5em;
}
div.sphinxsidebar h4 {
  padding: 0.1em 0.5em;
}
div.sphinxsidebar ul {
  margin: 1em 1em 1em 1.5em;
}
img.logo {
  margin-left: 1em;
}
